<div class="container-fluid">
<h2 id="title">Welcome to SuperRentals</h2>
{{nav-bar}}
{{outlet}}
</div>
<footer class="footer">
    <div class="container">
        <p class="text-muted">Copyright</p>
    </div>
</footer>